.logo{
    margin-top: 10px;
    margin-left: 1px;
    height:50px;
    width:100px;
}

/* #root {
    display: flex;
    flex-direction: column;   
}

#topBanner {
    display: flex;
    flex-direction: row;
    background-color: '2B2B2B';
}

h3 {
    text-align : center;
    color: '3CC139';
}

#middleBanner {
    display: flex;
    flex-direction: row;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}

Button {
    color: '3CC139'
}

#bottomBanner {
    display: flex;
} */